.chart {
    overflow: visible;
    margin: 5px 20px 30px 0px;
    background-color: rgb(234, 234, 234);
}

.svg-container {
    resize: both;
    overflow: auto;
}

.svg-container>svg {
     width: calc(100% - 20px); /* to account for margins */
    height: calc(100% - 40px);
}